@using AspNetMVC.LabExercise1.Models;
@using System.Collections.Generic;

@{
	var productsList = ViewData["ProductList"] as List<Product>;
	var grandTotal = ViewData["GrandTotal"];
}
<h2>Product List</h2>
<table class="table table-dark table-striped">
	<tr>
		<td>Product Id</td>
		<td>Name</td>
		<td>Description</td>
		<td>Quantity</td>
		<td>Price</td>
		<td>Total Amount</td>
	</tr>
	@foreach(var product in productsList)
	{
		<tr>
			<td>@product.Id</td>
			<td>@product.Name</td>
			<td>@product.Description</td>
			<td>@product.Quantity</td>
			<td>@product.Price</td>
			<td>@product.TotalAmount</td>
		</tr>
	}
	<tr>
		<td colspan="5" align="right">GrandTotal</td>
		<td>@grandTotal</td>
	</tr>
</table>